<style>
    .message_content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message_content">
    <p> ola {{name}} !</p>
    <br>
    <p>Recebemos a sua solicitação para recuperação de senha do usuario</p>
    <p>Se voce realmente solicitou clique no link abaixo :</p>
    <p>
        <a href="{{link}}">Restaurar senha</a>
    </p>
    <p>Caso voce nao tenha feito essa solicitação descarte esse email</p>
    <p>Api Test</p>


</div>
